.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 2em;
	margin-inline: auto;
	max-width: 100vh;
	overflow-x: hidden;

	input {
		margin: 1em auto;
		width: 75%;
		max-width: 200px;
	}
}

.infoBlock {
	display: grid;
	max-width: 100%;
	margin-inline: auto;
	grid-template-columns: 1fr 1fr;
	gap: 5em;

	img {
		max-width: 20em;
		aspect-ratio: 1 / 1;
	}

	&Texts {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
}

.bio {
	max-height: 150px;
	overflow-wrap: normal;
	overflow-y: auto;
	max-width: 70%;
}

.reposetories {
	--padding-inline: 2em;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-inline: var(--padding-inline);
	margin-inline: auto;
	gap: 12px;
	padding-bottom: 2em;
	position: relative;

	&Loader {
		position: absolute;
		width: calc(100% - var(--padding-inline) * 2);
		height: 100%;
		inset: 0;
		opacity: 0.7;
		margin-inline: var(--padding-inline);
		background-color: lightgrey;
		z-index: 200;

		& > * {
			margin-inline: auto;
			margin-top: 5em;
		}
	}
}

.loader {
	max-width: 100%;
	margin-top: 5em;

	& > * {
		margin-inline: auto;
	}
}

@media (max-width: 600px) {
	.infoBlock {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 400px) {
	.infoBlock {
		img {
			width: 160px;
			justify-self: center;
		}
		width: 100%;

		&Texts {
			margin-left: 2em;
		}
	}
}
